<section>
  <h2>What's on your mind?</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>

    <button type="submit" class="btn">Submit Post</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Thoughts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

