<form class="login-form">
  <div>
    <label for="email-login">your email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">your password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">your username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">your email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">your password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">join us!</button>
  </div>
</form>

